.roi-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  max-width: 888px;
  margin: 0px auto;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.roi-heading {
  margin-bottom: 50px;
  padding-top: 115px;
  width: 100%;
  
  h1 {
    font-size: 38px;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 888px) {
  .roi-heading {
    padding: 115px 12px 0;
  }
}

@media screen and (max-width: 678px) {
  .roi-heading {
    padding: 44px 12px 0;
  }
}