.roi-calculator {
  width: 100%;

  .row {
    display: flex;
    background: rgba(255, 255, 255, 0.05);
    font-size: 16px;
    margin-bottom: 2px;
    height: 42px;
    position: relative;
  }

  .overlay {
    display: flex;
    width: 100%;
    max-width: 888px;
    position: absolute;
    height: 100%;
    background: rgba($color: #13242e, $alpha: 0.8);
    z-index: 1;
  }

  .text {
    padding: 12px 16px;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .small-text {
    font-size: 12px;
  }

  .col1 {
    // width: 200px;
    flex: 0 0 200px;
  }

  .col2 {
    // width: 105px;
    flex: 0 0 105px;
  }

  .col1 {
    background: rgba(255, 255, 255, 0.06);
    border-bottom: 2px solid #c4c4c4;
  }

  .col1 input {
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 12px;
    font-size: 16px;
    line-height: 20px;

    &.roi-calculator__hours {
      max-width: 30px;
      padding-right: 0;
      text-align: right;
    }

    &.roi-calculator__minutes,
    &.roi-calculator__wage {
      padding-left: 0;
    }

    //needed if currency symbol is to be displayed in the input field
    // &.roi-calculator__archival-cost {
    //   padding-left: 0;
    // }
  }

  .col2 {
    display: flex;
    align-items: center;
    padding: 0 12px;
  }

  .roi-calculator__turnover {
    margin-bottom: 32px;
  }

  .roi-calculator__time-wrapper {
    display: flex;
    align-items: center;
  }

  .roi-calculator__wage-input-wrapper,
  .roi-calculator__archival-input-wrapper {
    display: flex;
    align-items: center;
  }

  .roi-calculator__wage-currency,
  .roi-calculator__archival-currency {
    padding-left: 12px;
  }

  .roi-calculator__results {
    margin: 0 0 88px;
    display: flex;
    padding-top: 100px;

    p {
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .roi-calculator__results__result-container {
    position: relative;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }

  .roi-calculator__results__return-on-investment {
    flex: 0 1 370px;
    border-right: 1px solid rgba($color: #ffffff, $alpha: 0.1);
    padding-right: 12px;
  }

  .roi-calculator__results__savings {
    flex: 1;
    padding-left: 70px;
  }

  .roi-calculator__results__number {
    font-size: 56px;
    font-weight: 200;
  }

  .roi-calculator__results__units {
    font-weight: 200;
    font-size: 36px;
  }
}

@media screen and (max-width: 888px) {
  .roi-calculator {
    .text {
      padding: 12px;
    }

    .roi-calculator__results {
      padding: 100px 12px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .roi-calculator {
    .text {
      padding: 12px;
    }

    .overlay {
      min-height: 84px;
    }

    .roi-calculator__results {
      flex-direction: column;
      margin: 0 0 44px;
      padding: 50px 12px 0;
    }

    .roi-calculator__results__return-on-investment {
      flex: 1;
      margin-bottom: 24px;
      border: 0;
      padding: 0;
    }

    .roi-calculator__results__savings {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 666px) {
  .roi-calculator {
    .row {
      flex-wrap: wrap;
      margin-bottom: 54px;
    }

    .text {
      flex: 1 1 100%;
    }

    .col1 {
      // flex: 1 0 200px;
      height: 42px;
    }

    .col2 {
      height: 42px;
    }

    .roi-calculator__turnover {
      margin-bottom: 74px;
    }
  }
}
