body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto';
  background-color: #1F2233;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 900px;
  margin: 0px auto;
}

.header {
  text-align: center;
  margin: 20px 0;
}

.logo {
  height: 52px;
  pointer-events: none;
}


.link {
  color: #61dafb;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 68px;
  margin-bottom: 0;
}
.row {
  display: flex;
  background: rgba(255, 255, 255, 0.05);
  font-size: 16px;
  margin-bottom: 2px;
}
.text {
  padding: 20px;
  flex-grow: 1;
}
.col1, .col2 {
  width: 130px;
}
.col1 {
  background: rgba(255, 255, 255, 0.06);
  border-bottom: 2px solid #C4C4C4;
}
.col1 input {
  border:none;
  background-image:none;
  background-color:transparent;
  box-shadow: none;
  outline: none;
  color: white;
  height: 100%;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}
.col2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
